* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #000000;
}
@media screen and (max-width: 550px) {
  .header .container-fluid {
    display: block;
    padding: 0;
  }
}
.header .container-fluid .register .sale {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping {
  display: flex;
  align-items: center;
}
.header .container-fluid .register .sale .shopping img {
  width: 31px;
  height: 31px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping img {
    width: 28px;
    height: 28px;
  }
}
.header .container-fluid .register .sale .shopping .number {
  margin: 0;
  font-size: 30px;
  height: fit-content;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .shopping .number {
    font-size: 28px;
  }
}
.header .container-fluid .register .sale .login {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .login {
    font-size: 14px;
  }
}
.header .container-fluid .register .sale .register-btn {
  margin: 0;
  font-weight: 300;
  margin-right: 15px;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .register-btn {
    font-size: 14px;
  }
}
.header .container-fluid .register .sale .register-btn a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 550px) {
  .header .container-fluid .register .sale .register-btn a {
    font-size: 14px;
  }
}

.footer {
  margin-top: 100px;
}
.footer .container-fluid {
  background-color: #f5f5f5;
}
.footer .container-fluid .row {
  padding: 35px 0;
}
.footer .container-fluid .r1 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r1 .col-12 .content .list.special {
  border: none;
}
.footer .container-fluid .r1 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r1 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r1 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 {
  background-color: #ececec;
}
.footer .container-fluid .r2 .col-12 .content .title {
  font-size: 25px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .title {
    padding-top: 20px;
    font-size: 22px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list {
  margin: 0;
  padding: 0;
  border-right: 1px solid #cacaca;
}
.footer .container-fluid .r2 .col-12 .content .list li {
  list-style: none;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .col-12 .content .list li {
    font-size: 14px;
  }
}
.footer .container-fluid .r2 .col-12 .content .list li a {
  text-decoration: none;
  color: #da8b87;
  font-weight: 500;
}
.footer .container-fluid .r2 .arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container-fluid .r2 .arrow-top a {
  text-decoration: none;
}
.footer .container-fluid .r2 .arrow-top a i {
  font-size: 30px;
  color: #cacaca;
}
@media screen and (max-width: 992px) {
  .footer .container-fluid .r2 .arrow-top a i {
    font-size: 26px;
    padding: 20px 0;
  }
}

.Carousel {
  margin-top: 5px;
  background-image: url("../../../assets/img/image 6.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 103px;
}
.Carousel .container-fluid {
  padding: 0;
}
.Carousel .container-fluid .slide .carousel-indicators {
  bottom: 0%;
  background: transparent;
  gap: 23px;
}
@media screen and (max-width: 768px) {
  .Carousel .container-fluid .slide .carousel-indicators {
    bottom: -13%;
  }
}
.Carousel .container-fluid .slide .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.3s;
}
.Carousel .container-fluid .slide .carousel-indicators .active {
  border: 3px solid rgba(0, 0, 0, 0.7215686275);
  background-color: transparent;
  margin-top: 7px;
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row {
  padding: 0 7%;
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 {
    justify-content: start;
  }
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .title {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
  line-height: 48.41px;
}
@media screen and (max-width: 992px) {
  .Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .title {
    font-size: 35px;
    font-weight: 300;
    color: #000000;
  }
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .description {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  line-height: 24.2px;
}
@media screen and (max-width: 992px) {
  .Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .description {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
  }
}
@media screen and (max-width: 768px) {
  .Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .button {
    height: 53px;
  }
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .button a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24.2px;
  padding: 13px 35px 13px 34px;
  background-color: #f8b653;
  transition: all 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .button a {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
  }
}
.Carousel .container-fluid .slide .carousel-inner .carousel-item .row .col-lg-4 .content .button a:hover {
  background-color: #fc9c0b;
}
.Carousel .container-fluid .slide .control-left {
  justify-content: start;
  margin-left: 18px;
}
.Carousel .container-fluid .slide .control-left .control-button img {
  transition: all 0.5s;
}
.Carousel .container-fluid .slide .control-left .control-button img:hover {
  transform: translateX(-10px);
  background-color: rgba(0, 0, 0, 0.025);
}
.Carousel .container-fluid .slide .control-right {
  justify-content: end;
  margin-right: 18px;
}
.Carousel .container-fluid .slide .control-right .control-button img {
  transition: all 0.5s;
}
.Carousel .container-fluid .slide .control-right .control-button img:hover {
  transform: translateX(10px);
  background-color: rgba(0, 0, 0, 0.025);
}
.relate-product .container-fluid .products .row .product-item .prices a {
  text-decoration: none;
}

.navigation .container-fluid {
  padding: 0 2%;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
}
.navigation .container-fluid .menu a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  padding-right: 24px;
  position: relative;
  transition: all 0.3s;
}
.navigation .container-fluid .menu a:hover {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
.navigation .container-fluid .menu a:hover::after {
  width: 68%;
}
.navigation .container-fluid .menu a::after {
  content: "";
  background-color: #000000;
  width: 0;
  height: 1px;
  position: absolute;
  z-index: 1;
  bottom: -5px;
  left: 0;
  cursor: pointer;
  transition: width 0.5s;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a::after {
    bottom: 0;
  }
}
.navigation .container-fluid .menu a.Home:hover::after {
  width: 70px;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a.Home:hover::after {
    left: 0;
    width: 55px;
  }
}
.navigation .container-fluid .menu a.Men:hover::after {
  width: 55px;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a.Men:hover::after {
    left: 0;
    width: 40px;
  }
}
.navigation .container-fluid .menu a.Woman:hover::after {
  width: 85px;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a.Woman:hover::after {
    left: 0;
    width: 70px;
  }
}
.navigation .container-fluid .menu a.Kid:hover::after {
  width: 45px;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a.Kid:hover::after {
    left: 0;
    width: 30px;
  }
}
.navigation .container-fluid .menu a.Sport:hover::after {
  width: 65px;
}
@media screen and (max-width: 768px) {
  .navigation .container-fluid .menu a.Sport:hover::after {
    left: 0;
    width: 50px;
  }
}

.detail-product .container {
  padding-top: 58px;
  margin-bottom: 39px;
}
.detail-product .container .row .col1 .content img {
  background-color: #f8f8f8;
}
.detail-product .container .row .col2 .content .title {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}
.detail-product .container .row .col2 .content .descript {
  font-size: 16px;
  font-weight: 400;
  color: #140101;
}
.detail-product .container .row .col2 .content .state {
  font-size: 24px;
  font-weight: 500;
  color: #1ed90e;
}
.detail-product .container .row .col2 .content .sizes {
  display: flex;
  padding: 0;
  margin-bottom: 17px;
  margin-top: 20px;
}
.detail-product .container .row .col2 .content .sizes .btn-size {
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  list-style: none;
  padding: 10px;
  background-color: #cccccc;
  margin-right: 20px;
}
.detail-product .container .row .col2 .content .price p {
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
}
.detail-product .container .row .col2 .content .count {
  display: flex;
}
.detail-product .container .row .col2 .content .count .btn-plus {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  padding: 6px 17px 12px 15px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.detail-product .container .row .col2 .content .count .btn-plus span {
  display: inline-block;
  height: 32px;
  width: 18px;
}
.detail-product .container .row .col2 .content .count .number {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  padding: 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-product .container .row .col2 .content .count .btn-minus {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  padding: 6px 17px 12px 15px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
}
.detail-product .container .row .col2 .content .count .btn-minus span {
  display: inline-block;
  height: 32px;
  width: 18px;
}
.detail-product .container .row .col2 .content .button {
  height: 64px;
  width: 175px;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}
.detail-product .container .row .col2 .content .button .add {
  font-size: 24px;
  font-weight: 500;
  color: #fff8f8;
}

.relate-product .container-fluid {
  max-width: 1200px;
}
.relate-product .container-fluid .title {
  padding-top: 16px;
  text-align: center;
}
.relate-product .container-fluid .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 42px;
}
.relate-product .container-fluid .products .row .col-12 {
  margin-top: 47px;
  padding: 0 30px;
}
.relate-product .container-fluid .products .row .col-12 .product-item {
  background-color: #f8f8f8;
}
.relate-product .container-fluid .products .row .col-12 .product-item .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.relate-product .container-fluid .products .row .col-12 .product-item .image img {
  padding: 45px 57px 30px 57px;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail {
  padding-left: 23px;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail .name {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
.relate-product .container-fluid .products .row .col-12 .product-item .detail .descript {
  padding-top: 8px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices {
  margin-top: 13px;
  display: flex;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices .buy {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1b067;
  padding: 18px 0;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
}
.relate-product .container-fluid .products .row .col-12 .product-item .prices .cost {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedddc;
  padding: 18px 0;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.register {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .register .container {
    padding: 0;
    margin: 0;
  }
}
.register .container .form-control {
  border: none;
}
.register .container .form-control .form-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding-bottom: 20px;
}
.register .container .form-control .form-body .left-row {
  padding: 0 45px;
}
@media screen and (max-width: 768px) {
  .register .container .form-control .form-body .left-row {
    padding: 0 20px;
  }
}
.register .container .form-control .form-body .left-row .hasLined {
  position: relative;
  padding-top: 42px;
}
.register .container .form-control .form-body .left-row .hasLined input {
  border: none;
  line-height: 36.31px;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.register .container .form-control .form-body .left-row .hasLined input:focus-visible {
  outline: 1px solid #ae18e2;
}
.register .container .form-control .form-body .left-row .hasLined input::placeholder {
  color: #000000;
}
.register .container .form-control .form-body .left-row .hasLined::after {
  position: absolute;
  content: "";
  z-index: 1;
  background-color: #ae18e2;
  width: 100%;
  height: 5px;
  bottom: -15px;
  left: 0;
}
.register .container .form-control .form-body .right-row {
  padding: 0 45px;
}
@media screen and (max-width: 768px) {
  .register .container .form-control .form-body .right-row {
    padding: 0 20px;
  }
}
.register .container .form-control .form-body .right-row .hasLined {
  position: relative;
  padding-top: 42px;
}
.register .container .form-control .form-body .right-row .hasLined input {
  border: none;
  line-height: 36.31px;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.register .container .form-control .form-body .right-row .hasLined input:focus-visible {
  outline: 1px solid #ae18e2;
}
.register .container .form-control .form-body .right-row .hasLined input::placeholder {
  color: #000000;
}
.register .container .form-control .form-body .right-row .hasLined::after {
  position: absolute;
  content: "";
  z-index: 1;
  background-color: #ae18e2;
  width: 100%;
  height: 5px;
  bottom: -15px;
  left: 0;
}
.register .container .form-control .form-body .right-row .gender-details {
  padding-top: 42px;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
  gap: 30px;
}
.register .container .form-control .form-body .right-row .gender-details input[type=radio] {
  display: none;
}
.register .container .form-control .form-body .right-row .gender-details .gender-title {
  font-size: 28px;
  font-weight: 400;
  color: #000000;
  line-height: 36.31px;
}
@media screen and (max-width: 900px) {
  .register .container .form-control .form-body .right-row .gender-details .gender-title {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
  }
}
@media screen and (max-width: 592px) {
  .register .container .form-control .form-body .right-row .gender-details .gender-title {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
  }
}
.register .container .form-control .form-body .right-row .gender-details .category {
  display: flex;
  gap: 20px;
}
.register .container .form-control .form-body .right-row .gender-details .category label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.register .container .form-control .form-body .right-row .gender-details .category label .dot {
  height: 50px;
  width: 65.42px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 10px solid transparent;
  transition: all 0.3s ease;
}
.register .container .form-control .form-body .right-row .gender-details .category label .gender {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 36.31px;
}
@media screen and (max-width: 900px) {
  .register .container .form-control .form-body .right-row .gender-details .category label .gender {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
  }
}
@media screen and (max-width: 592px) {
  .register .container .form-control .form-body .right-row .gender-details .category label .gender {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    line-height: 25px;
  }
}
.register .container .form-control .form-body .right-row .btn-submit {
  margin-top: 85px;
  font-size: 28px;
  font-weight: 400;
  color: #fffcfc;
  line-height: 36.31px;
  border: none;
  outline: none;
  width: 291px;
  height: 50px;
  background: #ae18e2;
  transition: all 0.5s;
}
@media screen and (max-width: 1200px) {
  .register .container .form-control .form-body .right-row .btn-submit {
    font-size: 20px;
    font-weight: 400;
    color: #fffcfc;
    line-height: 25px;
  }
}
.register .container .form-control .form-body .right-row .btn-submit:hover {
  background: #731792;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  background: #ae18e2;
  border-color: #d9d9d9;
}/*# sourceMappingURL=styles.css.map */