.Carousel {
  margin-top: 5px;
  background-image: url("../../../assets/img/image\ 6.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 103px;

  .container-fluid {
    padding: 0;
    .slide {
      .carousel-indicators {
        // display: block;
        bottom: 0%;
        background: transparent;
        gap: 23px;
        @media screen and (max-width: 768px) {
          bottom: -13%;
        }
        [data-bs-target] {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          // background-color: rgba(255, 255, 255, 0.2) !important;
          transition: all 0.3s;
        }
        .active {
          border: 3px solid #000000b8;
          background-color: transparent;
          margin-top: 7px;
        }
        button {
        }
      }
      .carousel-inner {
        .carousel-item {
          .row {
            padding: 0 7%;
            .col-lg-8 {
              img {
              }
            }
            .col-lg-4 {
              display: flex;
              justify-content: center;
              align-items: center;
              @media screen and (max-width: 768px) {
              justify-content: start;
                      
              }
              // padding-left: 23px;
              .content {
                .title {
                  @include text($texts-xl-1, $textw-sm-2, $text-c1-dark);
                  line-height: 48.41px;
                  @media screen and (max-width: 992px) {
                    @include text(35px, $textw-sm-2, $text-c1-dark);
                  }
                }
                .description {
                  @include text($texts-md-1, $textw-sm-2, $text-c1-dark);
                  line-height: 24.2px;
                  @media screen and (max-width: 992px) {
                    @include text(16px, $textw-sm-2, $text-c1-dark);
                  }
                }
                .button {
                  @media screen and (max-width: 768px) {
                      height: 53px;
                  }
                  a {
                    text-decoration: none;
                    @include text($texts-md-1, $textw-sm-2, $text-c1-white);
                    line-height: 24.2px;
                    padding: 13px 35px 13px 34px;
                    background-color: #f8b653;
                    transition: all 0.5s;
                    cursor: pointer;
                    @media screen and (max-width: 992px) {
                      @include text(16px, $textw-sm-2, $text-c1-white);
                    }
                   
                    &:hover {
                      background-color: #fc9c0b;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .control-left {
        justify-content: start;
        margin-left: 18px;
        .control-button {
          img {
            // width: 66.13px;
            // height: 45.71px;
            // border: 1px solid rgba(0, 0, 0, 0.24);
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // transform: rotate(-90deg);
            transition: all 0.5s;
            &:hover {
              transform: translateX(-10px);
              background-color: rgba(0, 0, 0, 0.025);
            }
          }
          span {
          }
        }
      }
      .control-right {
        justify-content: end;
        margin-right: 18px;
        .control-button {
          img {
            // width: 66.13px;
            // height: 45.71px;
            // border: 1px solid rgba(0, 0, 0, 0.24);
            // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            // transform: rotate(-90deg);
            transition: all 0.5s;
            &:hover {
              transform: translateX(10px);
              background-color: rgba(0, 0, 0, 0.025);
            }
          }
          span {
          }
        }
      }
    }
  }
}
.relate-product{
  .container-fluid{
    .products{
      .row{
        .product-item{
          .prices{
            a{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
